/*
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Big Business
Description: A two-column, fixed-width design with a bright color scheme.
Version    : 1.0
Released   : 20120210
*/


#page {
	padding: 45px 45px 15px 45px;
	position: relative;
	width: 890px;
	margin: 0;
}

#page .section-list {
	list-style: none;
	padding-left: 0;
}

#page .section-list li {
	clear: both;
	padding: 30px 0 30px 0;
}

#page ul {
	list-style: none;
}

#page ul li {
	border-top: solid 1px #D4D4D4;
	padding: 15px 0 15px 0;
}

#page ul li.first {
	padding-top: 0;
	border-top: 0;
}

#page-bottom {
	position: relative;
	margin: 0;
	background: #6E6E6E url(/images/img03.jpg) top left no-repeat;
	border: solid 1px #7E7E7E;
	width: 888px;
	padding: 45px 45px 25px 45px;
	color: #DCDCDC;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	text-align: center;
}


#page-bottom-content {
	width: 665px;
	float: right;
}


#search input.form-submit {
	margin-left: 1em;
	color: #FFFFFF;
	padding: 10px;
	background: #2FACAC;
	border: 0;
}

#search input.form-text {
	border: solid 1px #8F8F8F;
	padding: 10px;
}

#sidebar {
        float: left;
	width: 200px;
	padding: 0;
	/*margin: 0 0 0 690px;*/
}

#nav{
        width: 124px;
        float: left;
}

#nav ul.disc {
        list-style-type:disc;       
        list-style-position: inside;
}

#nav ul li.first {
	padding-left: 0;
}
        
#nav ul li.last {
	padding-left: 0;
}

#nav li a {
         height: 20px;
         padding: 0px 0 0 0px;
}

#splash {
	margin: 0 0 0 0;
	position: relative;
	padding: 0px 0px 0px 0px;
	width: 890px;
}

#splash .pic {
	padding: 9px;
}

